.env
backend/.env
frontend/.env
backend/package-lock.json
frontend/package-lock.json
frontend/node_modules/
backend/node_modules/
.vscode/
Infrastructure/terraform.tfstate
Infrastructure/terraform.tfstate.backup
Infrastructure/.terraform/
Infrastructure/.terraform.lock.hcl
.gitignore
all.log
cluster-issuer.yaml
ingress.yaml
Encryption-AKS/aks-setup.sh
Encryption-AKS/fr-ba-tls.yaml
Encryption-AKS/letsencrypte.yaml
